/* MissionPlanner.css */

.tabs {
  display: flex;
  background-color: #f0f0f0; /* Background color for the tabs */
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #ddd; /* Background color for tabs on hover */
}

.active {
  background-color: #888; /* Background color for the active tab */
  color: #fff; /* Text color for the active tab */
}

.mission-type-container {
  text-align: center;
}

.missionPlanner {
  text-align: center;
  margin: 0 5%; /* Add 5% margin on both right and left sides */
}

.mission-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.mission-button:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #888;
  color: #fff;
}

div.mission-planner {
  margin: 0 5%;
}

/* Style for the "Plan Mission" tab */
.tab-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Style for form elements (dropdowns) */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style for the background image container */
.image-container {
  position: relative;
  margin-top: 20px;
  width: 100%; /* Adjust the container width as needed */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
}

.image-container img {
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed its original dimensions */
}

/* Style for the soldier image */
img.soldier {
  position: absolute;
  pointer-events: none;
  width: 3.10625%; /* 100% / 25.6 = 3.90625% */
  height: 6.82537%; /* 100% / 14.62 = 6.82537% */
  top: 50%; /* Adjust the top position to center the soldier vertically */
  left: 50%; /* Adjust the left position to center the soldier horizontally */
  transform: translate(-50%, -50%); /* Center the soldier image in the parent container */
  transition: transform 0.3s ease-in-out;
}

/* Apply a scaling effect on soldier image when hovering */
img.soldier:hover {
  transform: scale(1.2);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
}

.modal-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.privilege-list {
  text-align: left;
}

.device-privileges {
  margin-bottom: 10px;
}

.device-privileges h3 {
  font-size: 1.1em;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li.has-privilege::before {
  content: '✅';
  color: green;
  margin-right: 5px;
}

li.no-privilege::before {
  content: '❌';
  color: red;
  margin-right: 5px;
}

.modal-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #003d82;
}

.container {
  display: flex;
}

.svg-container {
  flex: 1; /* Adjusted width to take up 50% of the container */
  padding-right: 10px; /* Add some spacing between the two divs */
}

.log-container {
  flex: 1; /* Adjusted width to take up 50% of the container */
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}

.log-section {
  background-color: black;
  flex: 1; /* Ensure the log section takes up all available space */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}




.log {
  background-color: black;
  color: pink;
  padding-top: 2px; /* Add padding to the log */
  margin-bottom: 5px; /* Add margin between logs */
  align-items: start;
  padding-left: 2px;
  text-align: left;
}

.button-section {
  display: flex;
  flex-direction: column;
}

.button-section button {
  margin-bottom: 5px; /* Add margin between buttons */
  padding: 10px; /* Add padding to the buttons */
  background-color: #f0f0f0; /* Background color for buttons */
  border: 1px solid #ccc; /* Add border to buttons */
  border-radius: 4px; /* Add border radius to buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 33%;
  height: 50px;
}

.button-section .row1 {
  display: flex;
  justify-content: space-between;
}

.button-section .row2 {
  display: flex;
  justify-content: space-between;
}

.button-section .row3 {
  display: flex;
  justify-content: space-between;
}

.arrow-button {
  margin-bottom: 5px; /* Add margin between buttons */
  padding: 10px; /* Add padding to the buttons */
  background-color: #f0f0f0; /* Background color for buttons */
  border: 1px solid #ccc; /* Add border to buttons */
  border-radius: 4px; /* Add border radius to buttons */
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow-button:hover {
  background-color: #ddd; /* Background color for buttons on hover */
}

.mission-container {
  width: 100%;
}

.log-container {
  width: 20%;
}

.arrow-button span {
  font-weight: bold;
  font-size: 30px;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-wrapper {
  flex-basis: 50%; /* Each dropdown wrapper takes up half of the container */
  padding: 10px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.dropdown-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.mission-type-container {
  text-align: center;
}

.mission-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
}

.mission-image {
  width: 38%; /* Set width to 45% for two tiles in a row with some spacing */
  margin: 10px;
  cursor: pointer;
  padding: 1%;
  box-sizing: border-box; /* Include padding in the width */
}

.mission-image img {
  width: 100%; /* Set image width to 100% of its container */
  height: auto;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.mission-image img:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.mission-image p {
  margin-top: 5px;
}

