/* HoneypotDashboard.css */

.tabs {
    display: flex;
    background-color: #f0f0f0;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .active {
    background-color: #888;
    color: #fff;
  }
  
  .honeypotDashboard {
    text-align: center;
    margin: 0 5%;
  }
  
  .bold-heading {
    font-weight: bold;
  }
  /* Add additional styling specific to HoneypotDashboard if needed */
  